.progressBar {
  transition: width 0.3s;
}
.progressBar-1 {
  width: 20%;
}
.progressBar-2 {
  width: 40%;
}
.progressBar-3 {
  width: 60%;
}
.progressBar-4 {
  width: 80%;
}
.progressBar-5 {
  width: 100%;
}
