.home {
  min-height: calc(100vh - $app-header-height - $app-footer-height);
  padding: $spacer * 3 $spacer;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: $spacer;
  }

  & .home-content {
    max-width: rem(360px);
    margin: 0 auto;
    position: relative;
    flex: 1;
  }

  .app-without-header {
    min-height: calc(100vh - $app-header-height);
  }

  .app-without-footer {
    min-height: calc(100vh - $app-footer-height);
  }

  .app-content-full-height {
    min-height: 100vh;
  }

  .app-content-full-height.app-without-header {
    min-height: calc(100vh - $app-header-height);
  }

  .app-content-full-height.app-without-footer {
    min-height: calc(100vh - $app-footer-height);
  }
}
