.login,
.register,
.reset-password,
.reset-password-sent,
.email-verification,
.email-verification-resend,
.forgot-password {
  min-height: calc(100vh - $app-header-height - $app-footer-height);
  padding: $spacer * 3 $spacer;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: $spacer;
  }

  & .login-content,
  & .register-content,
  & .reset-password-content,
  & .reset-password-sent-content,
  & .email-verification-content,
  & .email-verification-resend-content,
  & .forgot-password-content {
    flex: 1;
    max-width: rem(360px);
    margin: 0 auto;
    position: relative;
  }

  & .email-verification-icon,
  & .email-verification-resend-icon,
  & .reset-password-icon,
  & .reset-password-success-icon,
  & .reset-password-error-icon,
  & .reset-password-sent-icon {
    font-size: rem(64px);
  }

  .app-without-header {
    min-height: calc(100vh - $app-header-height);
  }

  .app-without-footer {
    min-height: calc(100vh - $app-footer-height);
  }

  .app-content-full-height {
    min-height: 100vh;
  }

  .app-content-full-height.app-without-header {
    min-height: calc(100vh - $app-header-height);
  }

  .app-content-full-height.app-without-footer {
    min-height: calc(100vh - $app-footer-height);
  }
}
