.app-content-full-height {
  & .app-content {
    height: calc(100vh - #{$app-header-height} - #{$app-footer-height});
  }
  &.app-without-header {
    & .app-content {
      height: calc(100vh - #{$app-footer-height});
    }
  }
  &.app-without-footer {
    & .app-content {
      height: calc(100vh - #{$app-header-height});
    }
  }
}
